.error-404 {
  @include full-width();
	clear: both;
	display: inline-block;
	margin-bottom: 2em;

  form {
    label {
      font-size: 1em;
      font-weight: bold;
    }

    input[type=search] {
      font-size: 1em;
      margin: 0 0 0 0.5em;
      width: 20em;
    }
  }
}

.error-404__div {
	@include media($medium_screen) {
		float: left;
		padding-top: 2em;
		width: 50%;
	}
}

.error-404__div--inner {
	@include container(0.25em);
  clear: both;
}

.error-404__div--dino {
	background: url('../img/404-dino.png') no-repeat center center;
	background-size: contain;
	height: 12em;

	@include media($medium_screen) {
		float: left;
		height: 15em;
		margin-left: 2em;
		width: calc(50% - 2em);
	}
}
