.error-404 {
  @include full-width();
  margin-bottom: 4rem;

  form {
    label {
    font-size: 1rem;
    font-weight: bold;
    }

    input[type=search] {
      font-size: 1rem;
      width: 20rem;
    }
  }
}

.error-404__div {
  @include media($medium_screen) {
    float: left;
    padding-top: 2rem;
    width: 50%;
  }
}

.error-404__div--inner {
  @include container(0.25rem);
  clear: both;
}

.error-404__div--dino {
  background: url('../img/404-dino.png') no-repeat center left;
  background-size: contain;
  height: 12rem;
  margin: 2rem;

  @include media($medium_screen) {
    background-position: center center;
    float: left;
    height: 15rem;
    margin: 0 0 0 2rem;
    width: calc(50% - 2rem);
  }
}
