/* -----
 * Home intro section
 */

.home-intro {
	margin: 2em 0 4em;

	b {
		font-weight: bold;
	}

	&:nth-child(2n) {
		background: $grey_bg_light;
		padding-bottom: 2em;
		margin: 0 calc(-1 * #{$gutter_default});
	  padding: 3em $gutter_default 4em;

		@include media($medium_screen) {
      margin: 0 calc(-1 * #{$gutter_medium});
      padding: 4em $gutter_medium 6em;
    }

    @include media($large_screen) {
      margin: 0 calc(-1 * #{$gutter_large});
      padding: 4em $gutter_large 6em;
    }
	}
}
