.resume__section {
  display: inline-block;
  width: 100%;

  & > div {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem;
  }

  // Alternate backgrounds
  &:nth-child(2n+1) {
    background: $grey_bg_verylight;
    margin-left: calc((100vw - 100%)/2*-1);
    margin-right: calc((100vw - 100%)/2*-1);
    width: 100vw;

    & > div {
      @include container(1.5rem);
    }
  }

  // Common typography
  h2 {
    margin: 1rem 0 2rem;
  }

  ul {
    margin: 1rem 0 4rem 3rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  li {
    list-style-type: square;
  }

  /**
   * Experience section
   */

  &.experience {
    h3 {
      font-size: 1rem;
      font-weight: 700;
      opacity: 0.75;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
    }

    p {
      strong {
        color: $purple_dark;
        display: block;
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 1.4;
      }

      em {
        font-size: 1.1rem;
        opacity: 0.65;
      }

      br {
        display: none;
      }
    }
  }
}


/**
 * Social media links section
 */

.resume__section--social {
  display: inline-block;
  margin: 4rem 0 2rem;
  width: 100%;

  a {
    background: $purple_base;
    color: $white;
    display: block;
    font-family: $font_sans;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;

    span {
      display: block;
      font-size: 2rem;
      margin-bottom: 0.35rem;
    }

    &:hover {
      background: lighten($purple_base, 10%);
    }

    &:nth-child(2n) {
      background: $grey_bg_dark;

      &:hover {
        background: lighten($grey_bg_dark, 20%);
      }
    }

    @include media($medium_screen) {
      @include span-columns(6 of 12);
      height: 7.5rem;
    }

    @include media($medium_only) {
      @include omega(2n);
    }

    @include media($large_screen) {
      @include span-columns(3 of 12);
      height: 9rem;
    }
  }
}
