.search {
	header {
		margin-bottom: 4em;
	}

	article {
		header, h2 {
			margin-bottom: 0;
		}
	}
}

.no-results {
  margin-bottom: 4rem;

  input[type=search] {
    padding: 0.85rem 10px;
    position: relative;
    top: -2px;
  }
}
