.resume__section {
    display: inline-block;
    margin-bottom: 3em;
    width: 100%;

    header {
        @include full-width-header;
        margin-bottom: 3em;

        p {
            margin: 0;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    strong {
        font-weight: bold;
    }
}

.resume-skills header {
    margin-bottom: 2em;
}

.resume-skills__div {
    padding: 2em 2em 0;

    @include media($medium_screen) {
        @include span-columns(6 of 12);
        @include omega(2n+1);
    }

    h3 {
        background: $grey_bg_light;
        padding: 0.5em;
    }

    ul {
        margin: 1em 0 1em 2em;
    }

    li {
        margin-bottom: 0.25em;
    }

    li:before {
        content: "\2610";
        margin-right: 10px;
    }
}

.resume-skills--button {
    background: $purple_base;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #333;
    color: $white;
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;

    &:hover {
        background: $purple_dark;
    }

    i {
        margin-right: 2px;
        position: relative;
        top: 1px;
    }
}

.resume__section--experience {
    p strong {
        font-weight: bold;
        font-size: 1.1em;
        letter-spacing: 1px;
    }

    ul {
        margin-left: 3em;
    }

    li {
        list-style-type: square;
    }
}

.resume__section--misc {
    p {
        margin-bottom: 2em;
    }
}

.resume__section--social {
    a {
        background: lighten($purple_verylight, 20%);
        color: $black;
        display: block;
        font-family: $font_sans;
        font-size: 1.2em;
        margin-bottom: 1em;
        padding: 2em;
        text-align: center;
        width: 100%;

        i {
            display: block;
            font-size: 2em;
            margin-bottom: 0.35em;
        }

        &:hover {
            background: lighten($purple_verylight, 10%);
        }

        &:nth-child(2n) {
            background: $grey_bg_light;

            &:hover {
                background: darken($grey_bg_light, 10%);
            }
        }

        @include media($medium_screen) {
            @include span-columns(6 of 12);
            height: 7.5em;
        }

        @include media($medium_only) {
            @include omega(2n);
        }

        @include media($large_screen) {
            @include span-columns(3 of 12);
            height: 9em;
        }
    }
}
