form label, form p {
	color: $black;
	font-size: 0.9rem;
}

input[type=text],
input[type=url],
input[type=email],
input[type=search],
textarea {
	background: $white;
	border: 1px solid $grey_border_dark;
	border-radius: 3px;
	box-shadow: none;
	padding: 10px;
}

button,
input[type=submit],
a.comment-reply-link,
a.btn {
	background: $purple_base;
	border: 0;
	border-radius: 3px;
	color: $white;
	cursor: pointer;
  display: inline-block;
	font-size: 1rem;
	padding: 0.75rem 1rem;
  text-decoration: none;

  &:hover {
    background: $black;
  }

  span.fa {
    margin-right: 0.5rem;
  }
}
