.site-content {
	@include container(1.5em);
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

.site-wrapper {
	@include media($exlarge_screen) {
		margin: 0 auto;
		width: calc(#{$max_width} - 400px);
	}
}
