.site-footer {
  background: $grey_bg_dark;
  color: $white;
  font-family: $font-sans;
  margin-top: 1em;
  padding: 2em 0 1em;
}

.site-footer__section {
  display: inline-block;
  padding: 0 $gutter_default;
  width: 100%;

  @include media($medium_screen) {
    padding: 0 $gutter_medium;
  }

  @include media($large_screen) {
    padding: 0 $gutter_large;
  }

  p {
    font-size: 0.9em;
    line-height: 1.65;
    padding-right: 1em;
  }
}

.site-footer__div {
  border-top: 1px solid $white;
  margin-bottom: 2em;
  padding-top: 1em;

  &:first-child {
    border-top: 0;
    padding-top: 0;
  }

  @include media($medium_screen) {
    @include span-columns(6 of 12);
      border: 0;
      padding-top: 0;
  }

  @include media($medium_only) {
    @include omega(2n);
  }

  @include media($large_screen) {
    @include span-columns(3 of 12);
    border-left: 1px solid $white;
    height: 200px;
    padding: 0 1.5em 0 1em;

    &:first-child {
      border: 0;
      padding-left: 0;
    }
  }

  h4 {
    font-weight: 500;
    margin: 0.5em 0;
  }

  ul {
    margin: 0;
  }

  li {
    font-size: 0.9em;
    line-height: 1.8;
    margin: 0;
  }

  a {
    background: transparent;
    color: $white;

    &:hover {
      background: none;
      color: $purple_light;
    }
  }

  label span {
    display: none;
  }

  input {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
    padding: 8px;

    &[type=search] {
      margin-top: 1em;
      width: 100%;
    }

    &[type=submit] {
      display: inline-block;
      padding: 5px 10px;
    }
  }

  .fa {
    font-size: 2em;
    margin-right: 15px;
  }
}

.site-footer__div--wide {
  @include media($large_screen) {
    @include span-columns(6 of 12);
  }
}
